<aside>
  <article>
          <mat-toolbar style="padding:0px" fxLayout="row" fxLayoutAlign="center center">
                  <h5 style="text-align: center;">My Loan Calculator</h5><br>
          </mat-toolbar>
  </article>
  <main class="padding">

      <form novalidate autocomplete='off'>
          <div fxLayout="row wrap" fxLayoutAlign="start start" >
              <!--class="row center-xs parent-container padding"-->
            <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="48" fxFlex.md="48" fxFlex.lg="48" fxFlex.xl="48" class="padding" style="margin:10px">
                <app-add (addDetails)= "onDetailsAdded($event)" (resetDetails)="onDetailsReset($event)"></app-add>
            </div>  
            <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="48" fxFlex.md="48" fxFlex.lg="48" fxFlex.xl="48" class=" padding" style="margin:10px">
                <app-details [displayLoan]="displayLoan"></app-details>
            </div>
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="108" class=" padding" style="margin:10px" *ngIf="monthlyEmis.length>0">
                <app-schedules-details [monthlyEmis]="monthlyEmis"></app-schedules-details>  
            </div>
          </div>
      </form>
  </main>
</aside>