
<mat-card  fxLayout="row" fxLayoutAlign="start start">
            <table>
                    <thead>
                        <tr class="table">
                            <th scope="col">NO</th>
                            <th scope="col">EMI</th>
                            <th scope="col">Interest</th>
                            <th scope="col">Principal</th>
                            <th scope="col">Balance</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of monthlyEmis" style="cursor:pointer"  class="table" >
                            <td >{{item.period}}</td>
                            <td >{{item.monthEmi  | number : '1.2-2'}}</td>
                            <td >{{item.interestAmt  | number : '1.2-2' }}</td>
                            <td >{{item.pricipleAmt  | number : '1.2-2' }}</td>
                            <td >{{item.balanceAmt  | number : '1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
    </mat-card> 